.DS_Store
__pycache__/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.claude/
.vscode/
*.pyc
*.pyo
*.pyd
*.db
*.log
*.lock
*.egg-info/
dist/
build/
.venv/
.env*
!.env.*.sample
alembic/versions/*.pyc
alembic/versions/*.pyo

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.jupyter/
.local/share/jupyter/
jupyter_notebook_config.py
*.ipynb_meta
