# when running locally, you MUST export the ENV=local in your terminal, 
# or the EnvironmentMapper will not try to load the .env.local file.

# GENERAL CONFIGURATION
REGIONS=maui 

API__ADMIN_USERNAME=your_admin_username
API__ADMIN_PASSWORD=your_secure_password
API__ADMIN_EMAIL=admin@example.com

# DATABASE CONFIGURATION
DB__HOST=localhost
DB__PORT=5432
DB__USERNAME=your_db_username
DB__PASSWORD=your_db_password
DB__NAME=your_db_name

# REDIS CONFIGURATION
REDIS__HOST=localhost
REDIS__PORT=6379
REDIS__PASSWORD=your_redis_password
